<li id="review-<%= review.id %>" class='review'>
	<span class='rating'>
		Rating:
		<br> 
		<%= review.rating%>/5
		</span>
	<span class='user'>
		<% if params[:controller] == 'intersections'  %>
			<%= link_to review.user.name, review.user, class: 'review-header' %>
		<% elsif params[:controller] == 'users' %>
			<%= link_to review.intersection.formatted_address, review.intersection, class: 'review-header' %>
		<% end %>
		
	</span>

	<span class='content'><%= review.body %></span>
	<span class='timestamp'>
		Created <%= time_ago_in_words(review.created_at) %> ago
	</span>
	<% if current_user_review?(review) %>
			<%= link_to 'delete', review, method: :delete, data: { confirm: "You sure?"} %>
	<% end %>
</li>