<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Rate This", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Find Intersection", states_path %></li>
        <li><%= link_to 'Add Intersection', createintersection_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>  
    </nav>
  </div>
</header>
